{{template "partials/loadingv2" true}}

{{if not .other.DNSRes.Answer}}
    <div class="response-card">
        <div class="response-card-inner gap-4">
            <span class="text-gray-500">Nothing found</span>
        </div>
    </div>
{{else}}
    {{range .other.DNSRes.Answer}}
    <div class="response-card">
        <div class="response-card-inner gap-4">
            <div class="flex flex-col items-center justify-center">
                <p class="text-xl font-bold">{{.HumanType}}</p>
            </div>
            <div class="">
                <p class="text-xl custom-wrap w-full"><span class="font-bold">TTL</span>: {{.TTL}}</p>
                <!-- TODO: if ip in data, then create link to ip lookup page -->
                <p class="text-xl custom-wrap w-full"><span class="font-bold">Data</span>: {{.Data}}</p>
            </div>
        </div>
    </div>
    {{end}}
{{end}}