
<div class="p-4 pb-8">
    {{range .DNSRes.Answer}}
        <div class="shadow-md p-4 rounded-md flex flex-row gap-4">
            <div class="flex flex-col items-center justify-center">
                <p class="text-xl font-bold">{{$.DNSRes.DNSType}}</p>
            </div>
            <div class="">
                <p class="text-xl"><span class="font-bold">TTL</span>: {{.TTL}}</p>
                <p class="text-xl"><span class="font-bold">Data</span>: {{.Data}}</p>
            </div>
        </div>
    {{end}}
</div>