<h2 class="text-2xl">Search</h2>
<form method="get" class="flex flex-col flex-wrap md:flex-row gap-2">
    <div class="input-container">
        <label for="domain">Domain </label>
        <input type="text" name="domain" id="domain" required value="{{.DNSRes.DNSDomain}}" class="text-input"
            placeholder="example.com" />
    </div>

    <div class="input-container">
        <label for="type">DNS Type </label>
        <select name="type" id="type" class="text-input">
            <option disabled selected>Select a type</option>
            {{range .DNSTypes}}
                {{if eq . $.DNSRes.DNSType}}
                <option value="{{.}}" selected>{{.}}</option>
                {{else}}
                <option value="{{.}}">{{.}}</option>
                {{end}}
            {{end}}
        </select>
    </div>
    <button class="default-button" type="submit">Search</button>
</form>