<!DOCTYPE html>
<html>

<head>
    <title>{{ .Title }} - {{ .AppName }}</title>
    {{ getCssAsset "app.css" }}
</head>

<body class="flex flex-col w-screen h-screen bg-white place-content-center text-white">
    {{template "partials/header" .}}

    <div class="flex flex-row flex-grow">
        <div class="flex flex-col w-[20%] bg-gray-800">
            {{range .MenuItems}}
                {{if .Active}}
                <div class="flex flex-row bg-gray-700 hover:bg-gray-600">
                    <a class="p-4 w-full" href="{{ .Link }}">
                        {{ .Name }}
                    </a>
                </div>
                {{else}}
                <div class="flex flex-row hover:bg-gray-600">
                    <a class="p-4 w-full" href="{{ .Link }}">
                        {{ .Name }}
                    </a>
                </div>
                {{end}}
            {{end}}
        </div>

        <div class="flex flex-col flex-grow p-8">
            <div class="flex-grow">
                <h1 class="page-title">{{ .Title }}</h1>
                {{embed}}
            </div>
        </div>
    </div>


    <!-- {{template "partials/footer" .}} -->
</body>

</html>