<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} - {{ .AppName }}</title>
    {{ getCssAsset "app.css" }}
</head>

<body class="flex flex-col bg-white min-w-screen min-h-screen place-content-center text-white">
    {{template "partials/header" .}}

    <div class="flex flex-col md:flex-row flex-grow">
        <div class="flex flex-row md:flex-col md:w-[20%] bg-gray-800">
            {{range .MenuItems}}
                {{if .Active}}
                <div class="flex md:flex-row bg-gray-700 hover:bg-gray-600">
                    <a class="p-4 w-full" href="{{ .Link }}">
                        {{ .Name }}
                    </a>
                </div>
                {{else}}
                <div class="flex md:flex-row hover:bg-gray-600">
                    <a class="p-4 w-full" href="{{ .Link }}">
                        {{ .Name }}
                    </a>
                </div>
                {{end}}
            {{end}}
        </div>

        <div class="flex flex-row md:flex-col flex-grow py-2 px-2 md:p-8">
            <div class="flex-grow text-black">
                <h1 class="page-title">{{ .Title }}</h1>
                {{embed}}
            </div>
        </div>
    </div>
</body>

</html>