<h2 class="part-title">Decode {{.other.BaseType}}</h2>
<form id="coding-form" method="post" class="flex flex-col flex-wrap md:flex-row">
    <div class="input-container">
        <label for="input">Input Text </label>
        <input type="text" name="input" id="input" required value="{{.other.BaseInput}}" class="text-input"
            placeholder="Your text..." />
    </div>

    <div class="input-container">
        <label for="encoding">Decoding Type </label>
        <select name="encoding" id="encoding" class="text-input">
            <option disabled selected>Select a type</option>
            <option value="std" selected>Standard Encoding</option>
            <option value="url">Url Encoding</option>
        </select>
    </div>
    <button class="default-button" type="submit">Decode</button>
</form>

<h2 class="part-title-other">Response</h2>

<div class="response-card">
    <div class="response-card-inner">
        <div class="w-full">
            <button class="default-button mb-4" onclick="htmx.find('#input').value = '{{.other.BaseResult}}'; htmx.find('#coding-form').submit()">Again?</button>
            
            <p class="custom-wrap code w-full">
                {{if eq .other.BaseResult ""}}
                    <span class="text-gray-500 italic select-none">Nothing found</span>
                {{else}}
                    <span class="select-all">{{.other.BaseResult}}</span>
                {{end}}
            </p>
        </div>

    </div>
</div>