<h2 class="part-title">Search</h2>
<form method="get" class="flex flex-col flex-wrap md:flex-row">
    <div class="input-container">
        <label for="domain">Domain </label>
        <input type="text" name="domain" id="domain" required value="{{.other.DNSRes.DNSDomain}}" class="text-input"
            placeholder="example.com" />
    </div>

    <div class="input-container">
        <label for="type">DNS Type </label>
        <select name="type" id="type" class="text-input">
            <option disabled selected>Select a type</option>
            {{range .other.DNSTypes}}
                {{if eq . $.other.DNSRes.DNSType}}
                    <option value="{{.}}" selected>{{.}}</option>
                {{else}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
            {{end}}
        </select>
    </div>
    <button class="default-button" type="submit">Search</button>
</form>

<h2 class="part-title-other">Response</h2>

<div class="response-card-outer">
    {{if not .other.DNSRes.Answer}}
        <div class="response-card">
            <div class="response-card-inner gap-4">
                <span class="text-gray-500">Nothing found</span>
            </div>
        </div>
    {{else}}
        {{range .other.DNSRes.Answer}}
        <div class="response-card">
            <div class="response-card-inner gap-4">
                <div class="flex flex-col items-center justify-center">
                    <p class="text-xl font-bold">{{.HumanType}}</p>
                </div>
                <div class="">
                    <p class="text-xl custom-wrap w-full"><span class="font-bold">TTL</span>: {{.TTL}}</p>
                    <!-- TODO: if ip in data, then create link to ip lookup page -->
                    <p class="text-xl custom-wrap w-full"><span class="font-bold">Data</span>: {{.Data}}</p>
                </div>
            </div>
        </div>
        {{end}}
    {{end}}
</div>