<div class="flex flex-col gap-2" [formGroup]="form">
  <label [attr.for]="question.key">{{ question.label }}</label>
  <div class="flex flex-col">
    @switch (question.controlType) {
      @case ('textbox') {
        <input pInputText [formControlName]="question.key" [id]="question.key" [type]="question.type">
      } @case ('dropdown') {
        <p-select [options]="question.options" optionLabel="key" optionValue="value" [formControlName]="question.key" />
      }
    }
  </div>
  @if (!isValid) {<div class="errorMessage">{{ question.label }} is required</div>}
  @else {<div class="h-6"></div>}
</div>
