<div class="py-4 flex flex-col gap-2">
    <h1 class="text-4xl pb-4">IP-Adresses</h1>
    <comp-dynamic-form [questions]="questions()" submitButtonText="Search" (payload)="onSubmit($event)"
        [isLoading]="ipAnswersLoading()" />
    <p-card header="IP Information">
        <comp-ip-info [ip]="ipAnswer()" [isLoading]="ipAnswersLoading()" />
    </p-card>
    @if (ipAnswer()) {
        <div class="flex flex-wrap gap-2">
            <a [routerLink]="'/app/dns'"
                [queryParams]="{ domain: ipAnswer()!.reverse_dns, dns_type: 'A', dns_source: 'cloudflare', dns_proto: 'DoH' }"
                class="p-button p-button-text" [class.hidden]="!ipAnswer()!.reverse_dns">
                <i class="pi pi-file"></i>
                <span>DNS records for {{ ipAnswer()!.reverse_dns }}</span>
            </a>
        </div>
    }
    <comp-error-display [errorMessage]="errorMessage()" />
</div>